.lowerHeader {
  background-color: #232f3e;
  color: white;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  height: 15px;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #febd69;
  
}
